body {
    background-image: url("https://i.pinimg.com/736x/d8/36/bc/d836bc7514f7634295a2586f04fb64b1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.blog-post-card {
    background-color: white;
    border-radius: 30px;
    width: 500px;
    height: 600px;
    margin: auto;
    margin-top: 150px;
    max-width: 500px;
    max-height: 600px;
    text-align: center;
}

.post-img {
    border-bottom: 2px dotted black;
    width: 500px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.post-content {
    padding: 20px;
}

.post-title {
    color: rgba(0, 0, 0, 0.829);
    font-family: 'Lucida Sans', sans-serif;
    margin-top: 2px;
    text-align: center;

}

.post-excerpt {
    color: rgb(46, 42, 42);
}

.read-more {
    color: white;
    background-color: rgb(44, 8, 8);
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    
}
.read-more:hover {
    background-color: brown;
}