body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5370c1d0-5e0b-4666-b3d6-6b8bca197119/d2nxutq-5c7768e9-11ce-4433-a097-267189c6c367.jpg/v1/fill/w_900,h_450,q_75,strp/kingdom_hearts_pattern_by_bebenciukas_d2nxutq-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDUwIiwicGF0aCI6Ii9mLzUzNzBjMWQwLTVlMGItNDY2Ni1iM2Q2LTZiOGJjYTE5NzExOS9kMm54dXRxLTVjNzc2OGU5LTExY2UtNDQzMy1hMDk3LTI2NzE4OWM2YzM2Ny5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.utniSSNS-6iVT_-O-gbWBOCrT0TLr6oGYEl7wwNJzEk");
    margin: auto;
    width: 800px;
}

#title {
    color: white;
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
    
}

/* Idea: Side Navigation to other pages instead of footer */

nav {
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.836), rgba(63, 63, 63, 0.836), #292929, black);
    min-width: 50%;
    min-height: 50%;
    width: 700px;
    height: 100px;
    padding: 2px 20px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
    border-color: black;
} 

.link-name {
    display: inline-block;
    padding: 30px;
    font-size: 1.5rem;
    margin-bottom: 30px;
    margin-left: 60px;
    text-align: center;
    border-radius: 10px;
}

.foot-link {
    display: inline-block;
    margin: 5px;
}

.foot-link:hover {
    margin: 0px 20px;
    transform: scale(1.2, 1.3);
    transition: transform 0.2s;
    transition: margin 0.3s ease;
    
}


button {
    display: block;
    margin: 30px auto 0px;
    padding: 20px;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    box-shadow: 5px 2px 3px gray;
    
}

button:hover {
    transform: scale(1.2, 1.3);
    transition: transform 0.2s;
}

a {
    text-decoration: none;
    font-family: fantasy, sans-serif, Arial;
    color: white;
}

a:hover {
    color: rgb(154, 233, 247);
}


/* Add list margins and whatnot */

section {
    background-color: rgba(248, 248, 255, 0.925);
    border-radius: 10px;

}

#upcoming-events, #past-events {
    text-align: center;
} 

h2 {
    text-decoration: underline;
    padding-top: 20px;
    margin: auto;
}

article {
    padding-bottom: 10px;
    padding-top: 9px;
}

img {
    max-width: 500px;
    max-height: 400px;
}

/* figure out why its crooked */

footer {
    border-radius: 2px;
    width: auto;
    margin: 20px;
    text-align: center;
    background-image: linear-gradient(to bottom,  rgba(90, 90, 90, 0.815), rgba(63, 63, 63, 0.815), #292929, black);
    border: solid 2px;
}
