body {
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}

.business-card {
    width: 300px;
    background-color: rgb(240, 169, 179);
    padding: 20px;
    margin: 100px;
    text-align: center;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

hr {
    border-color: black;
}

.profile-image {
    max-width: 100%;
}

p {
    margin-bottom: 5px;
    margin-top: 5px;
}

a:hover {
    color: violet;
}

a {
    text-decoration: none;;
}