body {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5370c1d0-5e0b-4666-b3d6-6b8bca197119/d2nxutq-5c7768e9-11ce-4433-a097-267189c6c367.jpg/v1/fill/w_900,h_450,q_75,strp/kingdom_hearts_pattern_by_bebenciukas_d2nxutq-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDUwIiwicGF0aCI6Ii9mLzUzNzBjMWQwLTVlMGItNDY2Ni1iM2Q2LTZiOGJjYTE5NzExOS9kMm54dXRxLTVjNzc2OGU5LTExY2UtNDQzMy1hMDk3LTI2NzE4OWM2YzM2Ny5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.utniSSNS-6iVT_-O-gbWBOCrT0TLr6oGYEl7wwNJzEk");
    font-family:  Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* try flex boxes with these */
header {
    text-align: center;
    margin-bottom: 2%;
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.836), rgba(63, 63, 63, 0.836), #292929, black);
    color: white;
    padding: 2px;
    border: 2px solid;
    border-color: black;
    font-family: Fantasy, Arial, Helvetica, sans-serif;
}

/* Maybe update design later make graphics*/

.bubble {
    margin-left: 4%;
    margin-bottom: 10px;
    width: 50vw;
    height: 60vh;
    min-width: 300px;
    min-height: 500px;
    max-width: 500px;
    max-height: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.952);
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 6px;
    justify-content: space-evenly;

}

.song-title {
    margin: auto;
    text-align: center;
}

.song-description {
    text-align: center;
    margin: 0;
}

iframe {
    margin:  2px auto;
    padding: 0;
    border-radius: 3px;
    width: 460px; 
    height: 315px; 
}