body {
    padding: 50px 50px;
    margin: 0 auto 0;
    width: 50vw;
    min-height: calc(100vh - 100px);
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5370c1d0-5e0b-4666-b3d6-6b8bca197119/d2nxutq-5c7768e9-11ce-4433-a097-267189c6c367.jpg/v1/fill/w_900,h_450,q_75,strp/kingdom_hearts_pattern_by_bebenciukas_d2nxutq-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDUwIiwicGF0aCI6Ii9mLzUzNzBjMWQwLTVlMGItNDY2Ni1iM2Q2LTZiOGJjYTE5NzExOS9kMm54dXRxLTVjNzc2OGU5LTExY2UtNDQzMy1hMDk3LTI2NzE4OWM2YzM2Ny5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.utniSSNS-6iVT_-O-gbWBOCrT0TLr6oGYEl7wwNJzEk");
}

nav {
    background-image: linear-gradient(to bottom, rgba(128, 128, 128, 0.836), rgba(63, 63, 63, 0.836), #292929, black);
    min-width: 20%;
    min-height: 50%;
    width: 90px;
    height: 20px;
    padding: 2px 20px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: -23vw;
    margin-top: -4vh;
    border: 3px solid;
    border-color: black;
}


.return {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: fantasy, sans-serif;
    text-align: center;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.return:hover {
    color: rgb(154, 233, 247);
}


/* Fix crookedness someday.. */

header{
    color: white;
    text-align: center;
    border-color: black;
    border: 2px;
}

hr {
    width: 110%
}

section {
    background-color: aliceblue;
    width: 80%;
    height: 20%;
    border-radius: 20px;
    text-align: center;
    padding: 40px;
    margin: 40px auto;
    max-width: 500px;
}

img {
    max-width: 500px;
    border-radius: 10px;
}

h1 {
    margin-left: 55px;
}